packages:
  yum:
    nginx: []

files:
  "/etc/nginx/conf.d/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
    content: |
      server {
          listen 80;
          server_name typebot.whiteblinkcmds.com;
          
          # Redirect all HTTP traffic to HTTPS
          location / {
              return 301 https://$host$request_uri;
          }
      }

      server {
          listen 443 ssl;
          server_name typebot.whiteblinkcmds.com;

          # SSL certificate paths
          ssl_certificate /etc/letsencrypt/live/typebot.whiteblinkcmds.com/fullchain.pem;
          ssl_certificate_key /etc/letsencrypt/live/typebot.whiteblinkcmds.com/privkey.pem;
          ssl_protocols TLSv1.2 TLSv1.3;
          ssl_prefer_server_ciphers on;
          ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";

          # Proxy for typebot-builder on port 8080
          location /builder {
              rewrite ^/builder(/.*)$ $1 break;
              proxy_pass http://127.0.0.1:8080;   # Proxy to typebot-builder
              proxy_set_header Host $host;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header X-Forwarded-Proto $scheme;
          }

          # Proxy for typebot-viewer on port 8081
          location /viewer {
              rewrite ^/viewer(/.*)$ $1 break;
              proxy_pass http://127.0.0.1:8081;   # Proxy to typebot-viewer
              proxy_set_header Host $host;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header X-Forwarded-Proto $scheme;
          }
      }
